
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/delete-movimientos/delete-movimientos.html">

<dom-module id="gestor-clientes" email={{email}}>
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;

      }
div{
  padding: 2px;
}
div .fr{
    width: 50%;
}
.form-control {
    display: block;
    width: 50%;
}

div .salir{
   margin-right: auto;
   align: right;
}
      /* img{
      width:50%;
      heigth:50%;
      float: none;

      }
      h1{
      float: none;

      }
      button{
      float: none;

      width: 50 ∞;
      }
      a{
      text-align:right;
        }


      tr{
        width:100%;
        heigth:100%;
      }
      table{
      width: 70%;
      color: #08427b;
      font-family: Bbvabentonsans, Arial, sans-serif;
       color: #08427b;
        font-size: 22px;
          float: none;
            margin-left: auto;
             margin-right: auto;
              padding: 0;
      } */


    </style>

<div class="container">
  <div class="container">
      <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div hidden="true" class="col">
          <button type="button" name="button"  on-click="salir" class="btn btn-secondary">Salir</button>
        </div>
        </div>
      </div>

    <div>
      <h1>Gestor de Movimientos</h1>
    </div>

          <div class="container">
              <div class="row">
                <div class="col">
                  <button type="button" name="button"  on-click="obtenerClientes" class="btn btn-info">Obtener Movimientos</button>
                </div>
                 <div class="col-5">
                    <button type="button" name="button"  on-click="altaMovimiento" class="btn btn-info">Alta Movimiento</button>

                 </div>
                 <div class="col">
                   <button type="button" name="button"  on-click="obtenerPrecioDolar" class="btn btn-info">Tendencia Dolar</button>
                 </div>
                </div>
              </div>

    <div class="container" hidden$={{alta}}>
      <table class="table">
        <tbody>
          <tr>
            <td class="table-secondary">Producto</td>
            <td class="table-secondary">Monto</td>
            <td class="table-secondary">Lugar</td>
            <td class="table-secondary">Fecha</td>
          <td class="table-secondary">Acción</td>
          </tr>
          <template is="dom-repeat"items="{{datos}}" id="">
            <tr>
              <td>[[item.producto]]</td>
              <td>[[item.monto]]</td>
              <td>[[item.place]]</td>
              <td>[[item.fecha]]</td>
            <td>
  <button indexed$='[[item._id.$oid]]' type="button" name="button"  on-click="eliminarMovimiento"class="btn btn-danger">Eliminar</button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

    </div>
    <div class="container fr" hidden$={{mov}}>

      <div  class="row">
         <div class="col">
        Poducto:
       <input type="text"  maxlength="20" min="7" max="50"  id="producto" class="form-control col-center"  value="{{producto::input}}"  placeholder="Producto">
       </div>
      </div>
      <div class="row">
         <div class="col">
      Monto:
       <input type="number" min="1" max="6" maxlength="6"  class="form-control col-center"  value="{{monto::input}}"  placeholder="Valor">
       </div>
      </div>
      <div class="row">
           <div class="col">
      Lugar:
       <input type="text"  min="1" max="20" maxlength="30"  class="form-control col-center"  value="{{lugar::input}}"  placeholder="Ubicación">
      </div>
      </div>
      <div class="row" hidden$={{always}}>
        Email: <input type="text"  class="form-control col-center"  value="{{email::input}}" required>
      </div>
      <div class="row">
      <button type="button" name="button"  on-click="insertMovimiento"class="btn btn-primary">Guardar</button>
      </div>

    </div>


</div>




  <iron-ajax
    id="doMovimientos"
    url="http://localhost:3007/Movimientos"
    content-type="application/json"
    crossDomain:true
    dataType:'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponse2"
    on-error="showError"></iron-ajax>
    <iron-ajax
      id="deleteMovimientos"
      url="http://localhost:3007/DeleteMov"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponseDelete"
      on-error="showError"></iron-ajax>
      <iron-ajax
        id="altaMovimiento"
        url="http://localhost:3007/AltaMovimiento"
        content-type="application/json"
        crossDomain:true
        dataType:'jsonp'
        method="POST"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
            on-response="manageAJAXResponse"
        on-error="showError"></iron-ajax>

        <iron-ajax
          id="precioDolar"
          url="http://localhost:3007/PrecioDolar"
          content-type="application/json"
          crossDomain:true
          dataType:'jsonp'
          method="GET"
          handle-as="json"
          headers="Access-Control-Allow-Headers: *"
              on-response="manageAJAXResponseDolar"
          on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     var div = document.getElementById('line_top_x')
     var login = true;
    var arreglo;


    // var chart = new google.charts.Line(document.getElementById('line_top_x'));
    // var chart = new google.charts.Bar(document.getElementById('line_top_x'));
    class GestorClientes extends Polymer.Element {
      static get is() {
        return 'gestor-clientes';
      }

      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          dolar: {
            type: Array,
            notify: true
          },
          datos: {
            type: Array,
            notify: true
          },
          email: {
            type: String,
            vale: sessionStorage.Email
          },
          monto: {
            type: Number
          },
          lugar: {
            type: String
          },
          fecha: {
            type: String
          },
          always:{
            type:Boolean,
            value: true
          },
          dol:{
            type:Boolean,
            value: true
          },
          mov:{
            type:Boolean,
            value: true
          },
          logado:{
            type:Boolean,
            value: true
          },
          producto: {
            type: String
          },
          alta: {
            type: Boolean,
            value: true
          }
        };
      }
altaMovimiento()
{
  document.getElementById("line_top_x").style.display = "none";
  this.alta = true
  this.dol = true
  this.mov = false
}
salir()
{
  this.logado = false;
//  localStorage.setItem("logado",false);
    sessionStorage.setItem('logado', false);
  //  this.logado = true;
  window.location.reload();
  /*o este*/
  document.location.reload();
}

insertMovimiento() {
  if (this.email == undefined ||  this.monto == undefined ||  this.producto == undefined ||  this.lugar == undefined ||
  this.email == "" ||  this.monto == ""  ||  this.producto == ""  ||  this.lugar == "" ){
     if (this.producto == undefined ||  this.producto == "" ){
        alert("El campo producto es requerido")
        //  document.getElementById("producto").style.backgroundColor = "red";
      //   $(elemento).css("background-color", "blue");
    }else if (this.monto == undefined ||  this.monto == ""  ){
       $(elemento).css("background-color", "blue");
        alert("El campo monto es requerido")
    }
  else if (this.lugar == undefined ||  this.lugar == ""  ){
     $(elemento).css("background-color", "blue");
        alert("El campo lugar es requerido")
    }
  }else
    {



    document.getElementById("line_top_x").style.display = "none";
this.dol = true
  //console.log(this.email)
  var altaData = {
    "email":this.email,
    "monto":this.monto,
    "producto":this.producto,
    "place":this.lugar
  };

        // var request = new XMLHttpRequest();
        // //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        // request.open("POST", "http://localhost:3000/Movimientos", false);
        // request.setRequestHeader("Accept", "application/json");
        // request.setBody(movimientosData)
        // request.send();
      //  console.log(altaData);
        this.$.altaMovimiento.body = JSON.stringify(altaData);
        this.$.altaMovimiento.generateRequest();
      //  console.log("Petición enviada");

          this.monto = ""
        this.producto = ""
                this.lugar = ""
//  console.log("Limpiado "+this.email + this.lugar);
        //console.table(this.clientes);

    }
  }
      obtenerClientes() {
        //  document.getElementById("line_top_x").style.height = "0px";
          document.getElementById("line_top_x").style.display = "none";
          this.mov = true
        this.dol = true
          this.alta = false
        //console.log(this.email)
        var movimientosData = {
          "email":this.email
        };

              // var request = new XMLHttpRequest();
              // //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
              // request.open("POST", "http://localhost:3000/Movimientos", false);
              // request.setRequestHeader("Accept", "application/json");
              // request.setBody(movimientosData)
              // request.send();
            //  console.log(movimientosData);
              this.$.doMovimientos.body = JSON.stringify(movimientosData);
              this.$.doMovimientos.generateRequest();
              console.log("Petición enviada");


              //console.table(this.clientes);
            }
            eliminarMovimiento(e) {
              if (window.confirm("¿Realmente quieres eleminar esté movimiento?")) {
                var index = e.target.getAttribute('indexed');
                console.log(index)
                var movimientosData = {
                  "id":index,
                  "email":this.email
                };
                      // var request = new XMLHttpRequest();
                      // //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
                      // request.open("POST", "http://localhost:3000/Movimientos", false);
                      // request.setRequestHeader("Accept", "application/json");
                      // request.setBody(movimientosData)
                      // request.send();
                      console.log(movimientosData);
                      this.$.deleteMovimientos.body = JSON.stringify(movimientosData);
                      this.$.deleteMovimientos.generateRequest();
                      console.log("Petición enviada");

} else {
  //console.log("Aquí todo lo relativo a No");
}


                      //this.obtenerClientes
}
obtenerPrecioDolar() {
  document.getElementById("line_top_x").style.display = "block";
    this.mov = true
  this.alta = true
  this.dol = false
        this.$.precioDolar.generateRequest();
        console.log("Petición enviada Dolar");


      }
      manageAJAXResponseDolar(data) {

        console.log("Respuesta recibida del dolar");


        this.dolar = data.detail.xhr.response.bmx.series[0]
      //  console.log(this.dolar.datos )
        //console.log(this.dolar.datos.length)
        arreglo = this.dolar.datos
        //  console.log(arreglo )

        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);


      }
            manageAJAXResponse(data) {
              console.log("Respuesta recibida del servidor");
              console.log(data)
              alert("El movimiento de dio de alta correctamente")
              //  document.getElementById("line_top_x").style.height = "0px";
                document.getElementById("line_top_x").style.display = "none";
                this.mov = true
              this.dol = true
                this.alta = false
              console.log(this.email)
              var movimientosData = {
                "email":this.email
              };
                    console.log(movimientosData);
                    this.$.doMovimientos.body = JSON.stringify(movimientosData);
                    this.$.doMovimientos.generateRequest();
                    console.log("Petición enviada");
            }
            manageAJAXResponse2(data) {
              console.log("Respuesta recibida del servidor");
              //console.log(data.event.detail.request.xhr.response)
                console.log(data.detail.xhr.response)

              this.datos = data.detail.xhr.response
            }
            manageAJAXResponseDelete(data) {
              console.log("Datos eliminados");
              //console.log(data.event.detail.request.xhr.response)
                console.log(data.detail.xhr.response)

              this.datos = data.detail.xhr.response
            }
            showError(error) {
              console.log("Ocurrio un error");
              alert("Datos ingresados incorrectos, por favor valide");
              console.log(error);
            }

}
function drawChart() {
  var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
    "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
  ];

  var d = new Date();
  //document.write("The current month is " + monthNames[d.getMonth()]);
  var data = new google.visualization.DataTable();
  data.addColumn('number', 'Días del mes de '+ monthNames[new Date(arreglo[0].fecha+"T00:00:00").getMonth()] + " del " +new Date(arreglo[0].fecha).getFullYear());
  data.addColumn('number', 'Precio dólar');
console.log(arreglo);
// for (var i = 0; i < arreglo.length; i++) {
//   data.addRows([
// [new Date(arreglo[i].fecha), arreglo[i].datos]
//   ]);
// }
// data.addRows([
// [new Date(arreglo[0].fecha), arreglo[0].datos]
// ]);
var arr;
for (var i = 0; i < arreglo.length; i++) {

//fecha.setDate(fecha.getDate() + dias);
//console.log("indice: " + arreglo[i].fecha);
//console.log(new Date(arreglo[i].fecha+"T00:00:00"));

data.addRows([[new Date(arreglo[i].fecha+"T00:00:00").getDate() , parseFloat(arreglo[i].dato)]])
//data.insertRows(i, new Array(new Date(arreglo[i].fecha).getDay(), arreglo[i].datos))
//console.log(data.addRows([[new Date(arreglo[i].fecha).getDay(), arreglo[i].datos]]))
}


  var options = {
    chart: {
      title: 'Tipo de cambio Pesos por dólar E.U.A.',
      subtitle: 'Precio del dólar en México',
         legend: { position: 'center' }
    },
    width: 900,
    height: 500,
    axes: {
      x: {
        0: {side: 'top'}
      }
    }
  };
console.log(document.getElementById('line_top_x'));
  var chart = new google.charts.Line(document.getElementById('line_top_x'));

  chart.draw(data, google.charts.Line.convertOptions(options));
}


    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
