
<dom-module id="mi-visor">

 <template>

   <style>
     :host {
       display: block;
     }
   </style>
   <div class="container">
     <div class="row">
       <img src="https://image.flaticon.com/icons/svg/3069/3069670.svg" width="200px" alt="">
     </div>
     <div class="row">
       <button type="button" name="button" class="btn btn-secondary">Cargar Datos</button>
     </div>
     <div class="row">
       <table class="table table-striped">
         <thead>
           <th>ID</th>
           <th>Nombre</th>
           <th>Apellido</th>
         </thead>
         <tbody>
           <tr>
             <td>1</td>
             <td>Selena</td>
             <td>Mora</td>
           </tr>
           <tr>
             <td>2</td>
             <td>Leandro</td>
             <td>Gao</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
 </template>

  <script>
    /**
     * `mi-visor`
     * Mi pirmera aplicacion polymer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DemopolymerApp extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2:
          {
            tyoe:Number,
            value:999
          }
        };
      }
    }

    window.customElements.define(DemopolymerApp.is, DemopolymerApp);
  </script>
</dom-module>
