<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
  <link rel="import" src="../bower_components/webcomponentsjs/webcomponents-lite-min.js">
  <link rel="import" href="/src/register-app/register-app.html">
    <link rel="import" href="/src/gestor-clientes/gestor-clientes.html">

Access-Control-Allow-Origin: *
<dom-module id="login-app" >
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"  crossorigin="anonymous">
    <style>
      :host {
        display: block;
        text-align: center;
      }
      row{
          border: 1px;
      }
    img{
      width:30%;
      heigth:30%;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    h1{
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    button{
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    a{
      text-align:right;
        }
        input{
          width: 60%;
          float: none;
          margin-left: auto;
          margin-right: auto;
        }
      div{
        padding: 5px;
        width: 100%;
      float: none;
        margin-left: auto;
        margin-right: auto;
      }
      div .con{
        width: 50%;
      float: none;
        margin-left: auto;
        margin-right: auto;
      }
      div .contenedor{
width:900px;
      }

    </style>

<div class="container" hidden$={{registrar}} >

      <div class="row con form-group" hidden$={{logado}}>
        <h1>Acceso</h1>
      </div>
      <div class="row con" hidden$={{logado}}>
        <img src="https://storage.googleapis.com/au-bbva-app-vigias-sp.appspot.com/Images/password.png" alt="">
      </div>
      <div id="in" class="row con form-group" hidden$={{logado}}>
        Email: <input type="email" maxlength="50" min="7" max="50"  class="form-control col-center" min="4" max="20" maxlength="20"   value="{{email::input}}" required>
      </div>
      <div class="row con" hidden$={{logado}}>
        Password: <input id="password" type="password" class="form-control" min="8" max="30" maxlength="8"  value="{{password::input}}" required>
      </div>
      <div class="row con  form-group" hidden$={{logado}}>
        <button on-click="login" type="button" class="btn btn-primary" name="button">Login</button>
      </div>
      <div class="row con" hidden$={{logado}}>
        <table>
          <tr>
            <td>
                  <h4>¿Eres nuevo?</h4>
              </td>
              <td>
                <button on-click="register" type="button" class="btn btn-primary" name="button">Regístrate</button>

                </td>

              </tr>
              </table>

               <!-- <a href="/register-app/register-app">Regístrate</a> -->

      </div>

      <div class="container" hidden$={{!logado}}>

        <span>Bienvenido a la aplicación {{email}}</span>
<gestor-clientes  class="row"  email={{email}}></gestor-clientes>
      </div>
    </div>

      <div hidden$={{!registrar}} hidden$={{!logado}}>
<register-app ></register-app>

        </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3007/Login"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>

    /**
     * @customElement
     * @polymer
     */
    // console.log(document.getElementById('line_top_x'));
    var islogin = localStorage.getItem("logado");
    class LoginApp extends Polymer.Element {
      static get is() {
         return 'login-app';
        //  return 'mi-visor';
        }

      static get properties() {
        return {
          email: {
            type: String,
            value: sessionStorage.Email
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: sessionStorage.getItem('logado')
          },
          registrar: {
            type: Boolean,
            value: false
          },
          userData: {
            type: String
          }
        };
      }
      register(){
  this.registrar = true;
//  this.logado = true;
  //console.log(this.registrar);
      }
      login() {

      if (this.email == undefined ||  this.password == undefined || this.email == "" ||  this.password == "" ){
        if ((this.email == undefined &&  this.password == undefined) || (this.email == "" &&  this.password == "")){
            alert("Los compos son requeridos")
        }else if (this.email == undefined || this.email == "" ){
            alert("El campo email es requerido")
        }else if (this.password == undefined || this.password == "" ){
            alert("El campo password es requerido")
        }
      }else {
        if (/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i.test(this.email )){
          var loginData = {
            "email":this.email,
            "password":this.password
          };
          this.userData = this.email;
          //console.log(loginData);
          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");
          } else {
           alert("La dirección de email es incorrecta.");
          }

      }
      }
      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
      //  console.log(data.detail.response);
        this.logado = true;
        sessionStorage.setItem('logado', this.logado);
        sessionStorage.Email = this.email;
      //  localStorage.setItem("logado", this.logado);
        //localStorage.setItem("email", this.email);
      }
      showError(error) {
        console.log("Ocurrio un error");
        alert("Datos ingresados incorrectos, por favor valide");
        //console.log(error);
      }
    }
    $(document).ready(function () {

      islogin = localStorage.getItem("logado");
     //alert(islogin)

  $('input#password')
    .keypress(function (event) {
      if (event.which < 48 || event.which > 57 || this.value.length === 12) {
        return false;
      }
    });
});
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
