<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
  <link rel="import" href="/src/login-app/login-app.html">
Access-Control-Allow-Origin: *
<dom-module id="register-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"  crossorigin="anonymous">
      <style>
        :host {
          display: block;
          text-align: center;
        }
        row{
            border: 1px;
        }
      img{
        width:30%;
        heigth:30%;
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
      h1{
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
      button{
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
      a{
        text-align:right;
          }
          input{
            width: 60%;
            float: none;
            margin-left: auto;
            margin-right: auto;
          }
        div{
          padding: 2px;
          width: 100%;
        float: none;
          margin-left: auto;
          margin-right: auto;
        }
        div .con{
          width: 50%;
        float: none;
          margin-left: auto;
          margin-right: auto;
        }
        div .contenedor{
    width:900px;
        }/*
        row{
            border: 1px;
        }
        img{
        width:50%;
        heigth:50%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        }
        h1{
        float: none;
        margin-left: auto;
        margin-right: auto;
        }
        button{
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 70 px;
        }
        a{
        text-align:right;
          }

        } */


      </style>
    <div class="container" hidden$={{logado}}>

      <div class="row form-group" hidden$={{logado}}>
        <h1>Registrarse
        </h1>
      </div>
      <div class="row con">
        <img src="https://storage.googleapis.com/au-bbva-app-vigias-sp.appspot.com/Images/register.png" alt="">
      </div>
      <div class="row con" hidden$={{logado}}>
        Nombre:
       <input type="text" pattern="[a-zA-Z]{5,}" min="4" max="20" maxlength="20"  class="form-control col-center"  value="{{nombre::input}}" required>
      </div>
      <div class="row con" hidden$={{logado}}>
      Apellidos:
       <input type="text" pattern="[a-zA-Z]{5,}" min="4" max="20" maxlength="20"  class="form-control col-center"  value="{{apellido::input}}" required>
      </div>
      <div class="row con" hidden$={{logado}}>
        Email: <input id="email" type="email" maxlength="50" min="7" max="50"  class="form-control col-center"  value="{{email::input}}" required>
      </div>
      <div class="row con" hidden$={{logado}}>
        Password: <input  type="password" placeholder="La password debe de ser de 8 caracteres" min="8" max="30" maxlength="8" class="form-control"  value="{{password::input}}" required>
      </div>
      <div class="row con" hidden$={{logado}}>

        <table>
          <tr>
            <td>
                  <button on-click="register" type="button" class="btn btn-primary" name="button">Registrar</button>
              </td>
              <td>
                <button on-click="cancelar" type="button" class="btn btn-warning" name="button">Cancelar</button>

                </td>

              </tr>
              </table>
      </div>

    </div>
    <div class="row" hidden$={{!logado}}>
    <login-app></login-app>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3007/Register"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegisterApp extends Polymer.Element {
      static get is() {
         return 'register-app';
        //  return 'mi-visor';
        }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      cancelar(){


  //  this.logado = true;
  window.location.reload();
  /*o este*/
  document.location.reload();
      }
      register() {
        if (this.email == undefined ||  this.password == undefined ||  this.nombre == undefined ||  this.apellido == undefined ||
        this.email == "" ||  this.password == "" ||  this.nombre == "" ||  this.apellido == "" || this.password.length != 8 ){
           if (this.nombre == undefined || this.nombre == "" ){
              alert("El campo nombre es requerido")
          }else if (this.apellido == undefined || this.apellido == "" ){
              alert("El campo apellido es requerido")
          }
        else if (this.email == undefined || this.email == ""  ){
              alert("El campo email es requerido")
          }else if (this.password == undefined || this.password == ""  ){
              alert("El campo password es requerido")
          }else if (this.password.length != 8 ){
              alert("El campo password debe ser de 8 caracteres")
          }
        }else {
          if (/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i.test(this.email )){
        var registerData = {
            "nombre":this.nombre,
            "apellido":this.apellido,
            "email":this.email,
            "password":this.password
        };

        console.log(registerData);
        this.$.doLogin.body = JSON.stringify(registerData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      } else {
       alert("La dirección de email es incorrecta.");
      }
      }
    }
      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data);
        alert("EL usuario se registró correctamente");

        window.location.reload();
        /*o este*/
        document.location.reload();
      }
      showError(error) {
        console.log("Ocurrio un error");
        alert("EL usuario "+this.email+" ya está dado de alta");
        console.log(error);
      }
    }

    // var input=  document.getElementById('email');
    // input.addEventListener('input',function(){
    //   if (this.value.length > 12)
    //      this.value = this.value.slice(0,12);
    // })

    window.customElements.define(RegisterApp.is, RegisterApp);
  </script>
</dom-module>
