<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *
<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"  crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }


}
    </style>
    <div class="container">
  <div class="jumbotron">
    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
  </div>
  <p>This is some text.</p>
  <p>This is another text.</p>
</div>


  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class HeaderApp extends Polymer.Element {
      static get is() {
         return 'header-app';
        //  return 'mi-visor';
        }


    }
    window.customElements.define(HeaderApp.is, HeaderApp);
  </script>
</dom-module>
