
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/app-route/app-location.js">
<link rel="import" href="../bower_components/app-route/app-route.js">

<link rel="import" href="login-app/login-app.html">
<!-- <link rel="import" href="pages/mi-cuenta-page.html">
<link rel="import" href="pages/contacto-page.html"> -->


<dom-module id="link-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <nav>
      <a href="/login-app/">Login</a>
      <a href="/mi-cuenta/">Mi cuenta</a>
      <a href="/contacto/">Contacto</a>
    </nav>

    <iron-pages selected="[[data.page]]" attr-for-selected="page">
      <login-app page="login-app"></login-app>
      <mi-cuenta-page page="mi-cuenta"></mi-cuenta-page>
      <contacto-page page="contacto"></contacto-page>
    </iron-pages>
    <p>
      [[data.page]]
    </p>

  </template>
  <script>
    Polymer({
      is: 'link-app'


    static get observers() {
  return [
    '_routeChanged(route.*)',
    '_viewChanged(routeData.view)'
  ]
}

_routeChanged(changeRecord) {
  if (changeRecord.path === 'path') {
    console.log('Path changed!');
  }
}
_viewChanged(view) {
  // load data for view
}
  });
  </script>
</dom-module>
