<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
  <link rel="import" src="../bower_components/webcomponentsjs/webcomponents-lite-min.js">
Access-Control-Allow-Origin: *
<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"  crossorigin="anonymous">
    <style>
      :host {
        display: block;
        text-align: center;
      }
      div{
        width: 50%;
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
      row{
          border: 1px;
      }
      img{
      width:50%;
      heigth:50%;
      float: none;
      margin-left: auto;
      margin-right: auto;
      }
      h1{
      float: none;
      margin-left: auto;
      margin-right: auto;
      }
      button{
      float: none;
      margin-left: auto;
      margin-right: auto;
      }
      a{
      text-align:right;
        }

      }


    </style>

<div class="container">
<header-app></header-app>
      <div class="row con form-group" hidden$={{logado}}>
        <h1>Acceso</h1>
      </div>
      <div class="row con">
        <img src="https://storage.googleapis.com/au-bbva-app-vigias-sp.appspot.com/Images/password.png" alt="">
      </div>
      <div class="row con form-group" hidden$={{logado}}>
        Email: <input type="email" class="form-control col-center"  value="{{email::input}}">
      </div>
      <div class="row con form-group" hidden$={{logado}}>
        Password: <input type="password" class="form-control"  value="{{password::input}}">
      </div>
      <div class="row con  form-group" hidden$={{logado}}>
        <button on-click="login" type="button" class="btn btn-primary" name="button">Login</button>
      </div>
      <div class="row con">
            <h4>¿Eres nuevo?</h4>
               <a href="/register-app/register-app">Regístrate</a>

      </div>
      <div class="row con" hidden$={{!logado}}>
        <span>Bienvenido a la aplicación</span>
      </div>
    </div>




    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/Login"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>

    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() {
         return 'login-app';
        //  return 'mi-visor';
        }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      login() {
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.logado = true;
      }
      showError(error) {
        console.log("Ocurrio un error");
        alert("Datos ingresados incorrectos, por favor valide");
        console.log(error);
      }
    }
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
