<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="delete-movimiento" id_mov={{id_mov}}>
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

      }
    </style>
<div class="container">
    <button type="button" name="button"  on-click="eliminarMovimiento"class="btn btn-success">Eliminar Movimiento</button>
</div>



  <iron-ajax
    id="deleteMovimientos"
    url="http://localhost:3007/Movimientos"
    content-type="application/json"
    crossDomain:true
    dataType:'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    last-response="{{data}}"
    on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DeleteMovimiento extends Polymer.Element {
      static get is() { return 'delete-movimiento'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          id_mov: {
            type: String
          }
        };
      }

      eliminarMovimiento() {
        console.log(this.id_mov)
        var movimientosData = {
          "id":this.id_mov
        };
              // var request = new XMLHttpRequest();
              // //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
              // request.open("POST", "http://localhost:3000/Movimientos", false);
              // request.setRequestHeader("Accept", "application/json");
              // request.setBody(movimientosData)
              // request.send();
              console.log(movimientosData);
              this.$.deleteMovimientos.body = JSON.stringify(movimientosData);
              this.$.deleteMovimientos.generateRequest();
              console.log("Petición enviada");


              //console.table(this.clientes);
            }

            manageAJAXResponse(data) {
              console.log("Respuesta recibida del servidor");
              console.log(data);
                  this.clientes = JSON.parse(data);
            }
            showError(error) {
              console.log("Ocurrio un error");
              alert("Datos ingresados incorrectos, por favor valide");
              console.log(error);
            }
          }

    window.customElements.define(DeleteMovimiento.is, DeleteMovimiento);
  </script>
</dom-module>
